@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.script-window-\$\{e\}{
    width: 100%;
    background: #171F23;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    z-index: 999;
    transition: .4s ease-in-out;
}
.script-window-hide-\$\{e\}{
    transform: translateY(calc(100% - 45px));
    transform: translateY(-webkit-calc(100% - 45px));
    transform: translateY(-moz-calc(100% - 45px));
}

.script-header-\$\{e\}{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}
.script-header-\$\{e\} > span{
    color: #B0B9BD;
    font-size: 12px;
    font-weight: bold;
}
button.script-btn-hide-\$\{e\}{
    width: 25px;
    height: 25px;
    border: 1px solid #252D31;
    background: #161C21;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.script-btn-hide-\$\{e\} > img{
    width: 17px;
}
.script-authorization-\$\{e\}{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}
.script-authorization-\$\{e\} > span{
    font-size: 14px;
    color: white;
}

.script-authorization-\$\{e\} > a{
    text-decoration: none;
    color: #515291;
}
.script-form-\$\{e\}{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.script-form-\$\{e\}>input[type="text"]{
    height: 30px;
    border-radius: 4px;
    background: #161C21;
    border: 1px solid #252D31;
    padding: 0 10px;
    color: white;
}
.script-form-\$\{e\}>input[type="text"]::placeholder{
    color: #B0B9BD;
    padding: 0 10px;
}

.script-form-\$\{e\}>button{
    height: 30px;
    border-radius: 4px;
    background: #161C21;
    border: 1px solid #252D31;
    color: #B0B9BD;
    font-size: 14px;
    margin-top:10px;
}
.script-bg-\$\{e\}{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(68, 84, 94, 0.5);
    z-index: 888;
    transition: .4s ease-in-out;
}

.script-bg-hide-\$\{e\}{
    opacity: 0;
    pointer-events: none;
}

.script-message-\$\{e\}{
    padding: 10px;
    color: #B0B9BD;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background: #171F23;
    border-radius: 4px;
    position: fixed;
    margin: 0 auto;
    max-width: 500px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    transition: .4s ease-in-out;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(150%);
}

.script-message-show-\$\{e\}{
    transform: translateY(0);
}

.script-user-info-\$\{e\}{
    border-top: 1px solid #252D31;
    border-bottom: 1px solid #252D31;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 5px 0;
    font-size: 14px;
}

.script-user-info-\$\{e\} > img{
    border-radius: 50%;
}

.script-anime-list-\$\{e\} > button{
    margin: 0 0 5px 0;
}

.script-form-0-\$\{e\} > button{
    margin-top: 0px;
}

.script-anime-serias-\$\{e\}{
    border-top: 1px solid #252D31;
    border-bottom: 1px solid #252D31;
    margin: 0 10px;
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .script-anime-serias-\$\{e\}::-webkit-scrollbar {
    display: none;
  }

.script-anime-serias-\$\{e\} > button{
    min-width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #252D31;
    color: #fff;
    background: #161C21;
    margin-right: 5px;
}

.script-none-border{
    border: none;
}

.script-anime-info-\$\{e\}{
    padding: 10px 0px;
}

.script-anime-scoreicon-\$\{e\}{
    display: flex;
    align-items: center;
}
.script-anime-scoreicon-\$\{e\}>img{
    margin-right: 5px;
}

.script-anime-tags-\$\{e\}{
    padding: 8px 0 0 0;
    margin: 0 10px;
    font-size: 9px;
    color: #476E61;
    display: flex;
    align-items: center;
}
.script-anime-tags-\$\{e\} > .tag{
    padding: 2px 3px;
    border-radius: 4px;
    background: #182B2A;
    margin-right: 5px;
}

.script-window-\$\{e\} button:hover{
    background: #515291;
    border: 1px solid #556670;
}